.About {
  z-index: 11;
  width: 100%;
  height: 100vh;
  position: relative;

  //   margin-bottom: -15vh;
  .about-canvas-wrapper {
    height: 115vh;
    transform: translateY(-15vh);

    .about-canvas {
      clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
      // height: 100%;
      width: 100%;
    }
  }

  .page-1 {
    // transform: translateY(7.5vh);
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    .content {
      width: 50%;
      text-align: left;
      position: absolute;
      margin-left: clamp(1rem, 10vw, 7rem);
      top: 50%;
      left: 0;
      h1 {
          font-weight: 400;
        font-size: clamp(1.7rem, 10vw, 3rem);
        letter-spacing: -3px;
      }
      p {
        font-weight: 200;
        opacity: 0.7;
        font-size: 1rem;
      }
      //   transform: translateY(-50%);
    }
  }
}
