.About {
  z-index: 11;
  width: 100%;
  height: 100vh;
  position: relative;

  //   margin-bottom: -15vh;
  .about-canvas-wrapper {
    height: 115vh;
    transform: translateY(-15vh);

    .about-canvas {
      clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
      // height: 100%;
      width: 100%;
    }
  }

  .page-1 {
    // transform: translateY(7.5vh);
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    .content {
      font-family: "Inter";
      backdrop-filter: blur(1px);
      // display: none;
      text-align: center;
      position: absolute;
      max-width: 30rem;
      width: 90%;
      // margin-left: clamp(1rem, 10vw, 7rem);

      top: 50%;
      left: 50%;
      // top:0;
      transform: translate(-50%, -50%);

      h1 {
        font-weight: 300;
        font-size: clamp(1.7rem, 10vw, 2rem);
        letter-spacing: -1px;
        // line-height: 90%;
        bold {
          font-weight: 800;
        }
      }
      p {
        margin-top: 0.5rem;
        font-weight: 200;
        opacity: 0.7;
        font-size: 1rem;

      }
    }
  }
}
