@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Roboto+Condensed:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed";
  color: white;
  background: black;
  overflow-x: hidden;
}
.blink {
  // animation: fade-in-out 10s ease-out;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
